services:
  nginx:
    image: nginx:latest
    container_name: nginx_pbl
    ports:
      - 8080:80
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php
    networks:
      - appnet
  php:
    container_name: php_pbl
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/html
    networks:
      - appnet
  postgres:
    image: postgres:16
    container_name: postgres_pbl
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: raihan100
      POSTGRES_DB: lab_kampusfix
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./database/schema.sql:/docker-entrypoint-initdb.d/schema.sql
    networks:
      - appnet

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin_pbl
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - 5050:80
    depends_on:
      - postgres
    networks:
      - appnet

networks:
  appnet:
    driver: bridge

volumes:
  pgdata: